fastapi
uvicorn
python-multipart
pdf2image
pillow
transformers>=4.40.0
sentence-transformers
torch
accelerate
reportlab
pydantic
pyngrok
nest_asyncio
einops
timm
attrdict
pytest
peft
bitsandbytes
datasets
